[mysql]
max_allowed_packet=512M

[mysqld]
sql-mode="ALLOW_INVALID_DATES"
sql_mode="ALLOW_INVALID_DATES"
max_allowed_packet=512M

[client]
max_allowed_packet=512M
sql-mode="ALLOW_INVALID_DATES"
sql_mode="ALLOW_INVALID_DATES"
